## Set:

In [2]:
g = {45,'a',45,120,155,450,"Ramu"}
print(g)

{450, 'a', 45, 120, 'Ramu', 155}

In [3]:
g

{120, 155, 45, 450, 'Ramu', 'a'}

In [4]:
h = {}
m = {2}
print(h,type(h))
print(m,type(m))

{} <class 'dict'>
{2} <class 'set'>

In [5]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [6]:
s1 = {34,67,"ram",0,"lalitha"}
s1.add("prasanna")
print(s1)

{0, 34, 67, 'prasanna', 'ram', 'lalitha'}

In [7]:
s1

{0, 34, 67, 'lalitha', 'prasanna', 'ram'}

In [8]:
print(s1)
s1.pop()
print(s1)

{0, 34, 67, 'prasanna', 'ram', 'lalitha'}
{34, 67, 'prasanna', 'ram', 'lalitha'}

In [9]:
print(s1)
s1.pop()
print(s1)

{34, 67, 'prasanna', 'ram', 'lalitha'}
{67, 'prasanna', 'ram', 'lalitha'}

In [10]:
s1

{67, 'lalitha', 'prasanna', 'ram'}

In [11]:
print(s1)
s1.pop()
print(s1)

{67, 'prasanna', 'ram', 'lalitha'}
{'prasanna', 'ram', 'lalitha'}

In [1]:
s2 ={45,8,23,5,98}
s3 = {1,2,5,6,85,456}
print(s2)
print(s3)
print(s2.union(s3))
print(s2)
print(s3)

{98, 5, 8, 45, 23}
{1, 2, 5, 6, 456, 85}
{1, 98, 2, 5, 6, 8, 456, 45, 85, 23}
{98, 5, 8, 45, 23}
{1, 2, 5, 6, 456, 85}

In [2]:
print(s2)
print(s3)
print(s2.intersection(s3))
print(s2)
print(s3)

{98, 5, 8, 45, 23}
{1, 2, 5, 6, 456, 85}
{5}
{98, 5, 8, 45, 23}
{1, 2, 5, 6, 456, 85}

# Dictionary:

In [3]:
t = {'name':("ramu","suresh","vyshu"),'age':20,'sal':[24,500,52,6000]}
print(t,type(t))

{'name': ('ramu', 'suresh', 'vyshu'), 'age': 20, 'sal': [24, 500, 52, 6000]} <class 'dict'>

In [4]:
print(t['name'][0])

ramu

In [5]:
print(t['sal'][0])

24

In [6]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [7]:
print(t.keys())

dict_keys(['name', 'age', 'sal'])

In [8]:
print(t.values())

dict_values([('ramu', 'suresh', 'vyshu'), 20, [24, 500, 52, 6000]])

In [9]:
y = {'name': "tilak","age":[45,59],"sal":0}
print(y)

{'name': 'tilak', 'age': [45, 59], 'sal': 0}

In [10]:
print(t.items())

dict_items([('name', ('ramu', 'suresh', 'vyshu')), ('age', 20), ('sal', [24, 500, 52, 6000])])

In [11]:
print(t.get('name'))
print(t.get('age'))
print(t.get('sal'))

('ramu', 'suresh', 'vyshu')
20
[24, 500, 52, 6000]

In [12]:
print(t.get('name'))
print(t.get('age'))
print(t.get('no'))

('ramu', 'suresh', 'vyshu')
20
None

In [13]:
print(t)

{'name': ('ramu', 'suresh', 'vyshu'), 'age': 20, 'sal': [24, 500, 52, 6000]}

In [14]:
print(t)
t['no']= [12,65,856,456]
print(t)

{'name': ('ramu', 'suresh', 'vyshu'), 'age': 20, 'sal': [24, 500, 52, 6000]}
{'name': ('ramu', 'suresh', 'vyshu'), 'age': 20, 'sal': [24, 500, 52, 6000], 'no': [12, 65, 856, 456]}

In [15]:
print(t)
t['no']='yamini'
print(t)

{'name': ('ramu', 'suresh', 'vyshu'), 'age': 20, 'sal': [24, 500, 52, 6000], 'no': [12, 65, 856, 456]}
{'name': ('ramu', 'suresh', 'vyshu'), 'age': 20, 'sal': [24, 500, 52, 6000], 'no': 'yamini'}

In [16]:
print(t)
t.setdefault('tr')
print(t)

{'name': ('ramu', 'suresh', 'vyshu'), 'age': 20, 'sal': [24, 500, 52, 6000], 'no': 'yamini'}
{'name': ('ramu', 'suresh', 'vyshu'), 'age': 20, 'sal': [24, 500, 52, 6000], 'no': 'yamini', 'tr': None}

In [17]:
print(t)

{'name': ('ramu', 'suresh', 'vyshu'), 'age': 20, 'sal': [24, 500, 52, 6000], 'no': 'yamini', 'tr': None}

In [19]:
print(t)
t.update({'tr':45})
print(t)

{'name': ('ramu', 'suresh', 'vyshu'), 'age': 20, 'sal': [24, 500, 52, 6000], 'no': 'yamini', 'tr': None}
{'name': ('ramu', 'suresh', 'vyshu'), 'age': 20, 'sal': [24, 500, 52, 6000], 'no': 'yamini', 'tr': 45}

In [20]:
print(t)

{'name': ('ramu', 'suresh', 'vyshu'), 'age': 20, 'sal': [24, 500, 52, 6000], 'no': 'yamini', 'tr': 45}

In [21]:
print(t.update({'tr':"ramu"}))

None

In [22]:
print(t)

{'name': ('ramu', 'suresh', 'vyshu'), 'age': 20, 'sal': [24, 500, 52, 6000], 'no': 'yamini', 'tr': 'ramu'}

In [23]:
print(t)
print(t.pop('age'))
print(t)

{'name': ('ramu', 'suresh', 'vyshu'), 'age': 20, 'sal': [24, 500, 52, 6000], 'no': 'yamini', 'tr': 'ramu'}
20
{'name': ('ramu', 'suresh', 'vyshu'), 'sal': [24, 500, 52, 6000], 'no': 'yamini', 'tr': 'ramu'}

In [24]:
print(t)
print(t.popitem())
print(t)

{'name': ('ramu', 'suresh', 'vyshu'), 'sal': [24, 500, 52, 6000], 'no': 'yamini', 'tr': 'ramu'}
('tr', 'ramu')
{'name': ('ramu', 'suresh', 'vyshu'), 'sal': [24, 500, 52, 6000], 'no': 'yamini'}

In [26]:
q = {'name','age','sal'}
w = [12,45,70,65,98]
print(q)
print(w)
f = {'name':34,"donar":45}
f.fromkeys(q)
f.fromkeys(w)
print(q)
print(w)
# Syntax : fromkeys([],values)

{'name', 'age', 'sal'}
[12, 45, 70, 65, 98]
{'name', 'age', 'sal'}
[12, 45, 70, 65, 98]

In [28]:
t = {}
t.fromkeys(q,45)
print(t)

{}

In [30]:
q = ['name','age','sal']
w = 98
print(q)
print(w)
f = {}
f.fromkeys(q,w)
print(f)

['name', 'age', 'sal']
98
{}

In [31]:
t1 = {'name':"ramu",'sno':1}
t1 = {}
t1 = t.fromkeys(q,w)
print(t1)

{'name': 98, 'age': 98, 'sal': 98}

In [32]:
marks = {}.fromkeys(["maths","python","c++"],[0,45])
print(marks)

{'maths': [0, 45], 'python': [0, 45], 'c++': [0, 45]}

```
contact apllication:
    
    
    1.Enter new record
    2.Display all records
    3.Update record
    4.Delete record
    
    1.Ramu -> not exist
       mobile number -> xxxxxxxxxxx
    
    2.
       Name         Mobile Number
       Ramu          xxxxxxxxxx
       Rajesh        xxxxxxxxxx
        
    3. Ramu -> exist
       mobilr number -> xxxxxxxxxx
    
    4. Ramu -> exist
       User deleted successfully
       User doesn't exist

```
1. Enter new contact
2. Display all contacts
3. Update contacts
4. Delete contacts
    
    1. Enter your name : Pallavi
       Pallavi already exists
       Enter mobile number -> xxxxxxxxxxx
    
    2.
       Name         Mobile Number
       Pallavi       xxxxxxxxxxx
        
    3. Enter your name : Pallavi
       Enter updated mobile number : xxxxxxxxxxx
        
       Pallavi1
       Pallavi1 does not exist in your contacts
    
    4. Enter your name : Pallavi  
       Pallavi record deleted successfully
       Pallavi record doesn't exist in your contacts