# Markdown Format

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6
####### Heading 7

# Python
# Python installations, Execution Ways,Jupyter Installation

## Variable:
     - To store a value
     - To access the value in different functions, methods
     - To change values

In [2]:
a = 10
a

10

In [3]:
b = 20

In [4]:
b

20

In [6]:
a = 200
b = 'pandu'
a
b

'pandu'

In [7]:
(a,b)

(200, 'pandu')

In [8]:
print(a,b)

200 pandu

In [11]:
type(b)

str

## Data types
  * int -> only numbers                      
  * float -> decimal points
  * string -> either with ' or "

```
c = 23.00
t = 'ashu'
```

In [16]:
c,t = 23.00,'ashu'

In [17]:
print(c,t)

23.0 ashu

In [18]:
c

23.0

## Types
    - To know the data type for that valaue
    - type(variable,datastructure)

In [20]:
type(c)

float

In [22]:
g = '12.045'
g

'12.045'

In [23]:
type(g)

str

In [24]:
print(type(a))

<class 'int'>

In [25]:
print(type(c))

<class 'float'>

In [26]:
print(type(g))

<class 'str'>

In [28]:
print(type(a),type(b))

<class 'int'> <class 'str'>

In [30]:
type(a),type(c),type(g)

(int, float, str)

# Input()
    - By default it will be considered as a string value
    - print(),read()

In [1]:
a = input()
print(a,type(a))

65
65 <class 'str'>

In [3]:
p = input("Enter a value : ")
print(p,type(p))

Enter a value : 65
65 <class 'str'>

## Type Casting
    - Converting one data into another data type
    - int(),float(),str()

In [4]:
t = int(input("Enter only integer values: "))
print(t,type(t))

Enter only integer values: 51
51 <class 'int'>

In [5]:
m = float(input("Enter float values : "))
print(m,type(m))

Enter float values : 12.53
12.53 <class 'float'>

In [7]:
q = int(input("Enter integer values : ")) 
r = float(input("Enter float values : ")) 
print("Conversion of int value is : ",float(q))
print("Conversion of float value is : ",int(r))
print("Both cases in string is : "+"'"+str(q)+"'"+" "+"'"+str(r)+"'")

Enter integer values : 48
Enter float values : 45.26
Conversion of int value is :  48.0
Conversion of float value is :  45
Both cases in string is : '48' '45.26'

```
     Input:
        Enter integer values : 48
        Enter float values : 45.26
    
    
     output:
        conversion of int value is :48.0
        conversion of float value is : 45
        both case in string is : '48' '45.26'
```